html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(197, 197, 199);
    color: cadetblue;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: cadetblue;
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tognav li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
.tognav a{
    text-decoration: none;
    color: #fff;
    transition: 0.6s;
}
.logo h1{
    padding: 10px;
    color: beige;
    cursor: pointer;
}
nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: beige;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.7s;
}
nav a:hover::after{
    transform: scaleX(1);
}
.menu button{
    background: none;
    color: #fff;
    width: 50px;
    height: 40px;
    border: 2px solid beige;
    outline: none;
    border-radius: 6px;
    margin-left: 40px;
}
.menu{
    display: none;
}
.carousel-indicators{
    list-style: none;
}
.con h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.font{
    color: beige;
    text-align: center;
    letter-spacing: 6px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.carousel-inner .carousel-item img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.heading{
    margin-top: 100px;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
}
span{
    margin-top: 100px;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: beige;
}
.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.speciality .box-container .box{
    flex: 1 1 29rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.speciality .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.speciality .box-container .box .content img{
    margin: 1.5rem 0;
}
.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.speciality .box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.speciality .box-container .box{
    transition: 0.7s;
}
.speciality .box-container .box:hover .image{
    transition: 0.7s;
    top: -100%;
}
.speciality .box-container .box:hover .content{
    transition: 0.7s;
}
.contact{
    background-color: cadetblue;
    overflow: hidden;
    color: #fff;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}
.details{
    flex: 1;
    width: 50%;
    margin: 0 15px;
}
.img-details{
    width: 50%;
}
.img-details h1{
    margin-bottom: 20px;
}
.contact h1{
    font-size: 2.25rem;
    color: beige;
    margin-bottom: 1rem;
}
.contact h2{
    font-size: 1.25rem;
    color: beige;
    margin-bottom: 1rem;
}
.contact p{
    letter-spacing: 1px;
    font-size: 1.125rem;
    color: #fff;
}
.contact form{
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}
.contact input{
    flex: 1;
    padding: 10px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 1.125rem;
    color: #fff;
}
.contact button{
    padding: 10px 20px;
    background-color: beige;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.8s;
    border-radius: 10px;
    border: 0 solid beige;
}
.contact button:hover{
    background-color: #fff;
    color: 	cadetblue;
    cursor: pointer;
}
.details .links{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.details .links li{
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
    transition: 0.8s;
}
.details .links li:hover{
    background-color: cadetblue;
}
ion-icon{
    font-size: 22px;
}
.drag{
    color: cadetblue;
    padding-top: 4px;
}
.drag:hover{
    transition: 0.8s;
    text-decoration: none;
    color: beige;
}
.img-details p a{
    text-decoration: none;
    color: #fff;
}
.copy{
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    color: cadetblue;
    margin-bottom: 0;
}
@media all and (max-width: 1000px){
    nav{
        flex-direction: column;
    }
    .tognav li{
        display: block;
        padding: 10px 0;
    }
    .tognav ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    nav a::after{
        bottom: 6px;
        transform: scaleX(0);
        transition: transform 0.7s;
    }
    nav a:hover::after{
        transform: scaleX(1);
    }
    .tognav .showmenu{
        display: block;
    }
    .speciality .box-container .box .image{
        object-fit: cover;
    }
    section .container{
        width: 100%;
        display: inline-block;
        line-height: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .left, .right{
        display: block;
    }
    .contact .left{
        width: 60%;
        margin-top:0;
    }
    .contact .img-container img{
        width: 250px;
        height: 250px;
        margin-top: 40px;
        margin-left: 145px;
        margin-bottom: 40px;
        object-fit: cover;
    }
    .contact .right{
        width: 100%;
        padding: 0 0;
        text-align: center;
    }
}
@media screen and (max-width: 935px){
    .contact form{
        flex-direction: column;
    }
}
@media screen and (max-width: 645px){
    .contact{
        margin: 0px;
        text-align: center;
    }
    .contact-details{
        width: 100%;
        flex-direction: column;
        margin: 10px;
        padding: 0 40px;
    }
    .details{
        width: 100%;
        margin: 0px 0;
    }
    .img-details{
        width: 100%;
        margin-bottom: 20px;
    }
    .details .links{
        justify-content: center;
    }
    .contact h1,.contact h2{
        font-size: 1.5rem;
    }
    .contact p{
        letter-spacing: 1px;
        font-size: 1.1rem;
        color: #fff;
    }
    .copy{
        font-size: 12px;
    }
}
@media all and (max-width: 440px){
    .con h1{
        font-size: 28px;
    }
    .font{
        font-size: 10px;
        font-weight: 500;
    }
    .heading{
        font-size: 2.5rem;
    }
    span{
        font-size: 2.5rem;
    }
    .speciality .box-container .box .image{
        object-fit: cover;
    }
    .speciality .box-container .box .content h3{
        font-size: 2rem;
    }
    .speciality .box-container .box .content p{
        font-size: 1rem;
    }
}